<div class="widgets">

  <!-- control modal from parent component -->
  <div bsModal #childModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button class="close" aria-label="Close" (click)="hideChildModal()">
          <span aria-hidden="true">&times;</span>
        </button>
          <h4 class="modal-title">Detalhes da Marcação de Visitas</h4>
        </div>
        <div class="modal-body">
          <p><b>Nome do visitante:</b> {{modalinfo.visitante_name}}</p>
          <p><b>Contacto:</b> {{modalinfo.contact}}</p>
          <p><b>Email:</b> {{modalinfo.email}}</p>
          <p><b>Data de Feedback:</b> {{modalinfo.creation_date}}</p>
          <p><b>Resultados do Questionário</b></p>
          <div>
              <p *ngFor="let item of modalinfo.answers"><b>{{item.question}}:</b> {{item.answer}}</p>
          </div>
          

        </div>
        <div class="modal-footer">
          <button class="btn btn-primary confirm-btn" (click)="hideChildModal()">Fechar</button>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <ba-card title="Feedback dos Visitantes" baCardClass="with-scroll">
      <!--<div class="vertical-scroll">-->
      <table class="table table-hover">
        <thead>
          <tr>
            <th class="table-id">#</th>
            <th>Nome do Visitante</th>
            <th>Contacto</th>
            <th>Email</th>
            <th>Data de feedback</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr *ngFor="let item of feedbackanswer" (click)="showChildModal(item)">
            <td class="table-id">{{ item.id }}</td>
            <td>{{ item.visitante_name }}</td>
            <td>{{ item.contact }}</td>
            <td>{{ item.email }}</td>
            <td>{{ item.creation_date }}</td>
          </tr>
        </tbody>
      </table>
      <!--</div>-->
    </ba-card>
  </div>

</div>